html.wp-toolbar {
	background: #fff;
	background: none;
	padding-top: 0;
}
.login {
	background: #fff;
}
.login form {
	background: #eeecec;
	border-radius: 3px;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 26px 24px 30px 24px;
}
.login form .forgetmenot {
	margin-top: 10px;
}
.login form .submit {
	margin: 10px 0 0 0;
}


/* *********************** */
/* Main Wraps */
/* *********************** */
#wpwrap {
	background: #fff;
	background: none;
}
#wpcontent {
	margin-left: 200px;
	padding-left: 60px;
}
@media screen and (max-width: 782px) {
	#wpcontent,
	.auto-fold #wpcontent {
		padding-left: 20px;
	}
}
#wpbody {
	padding-top: 61px;
}
@media screen and (max-width: 782px) {
	#wpbody {
		padding-top: 46px;
	}
}
.wrap {
	margin: 40px 60px 0 0;
}
@media screen and (max-width: 782px) {
	.wrap {
		margin: 20px 20px 0 0;
	}
}
.edit-tags-php .wrap {
	margin: 40px 0 0 0;
}
.post-php .wrap,
.post-new-php .wrap,
.comment-php .wrap {
	margin: 0;
}
@media only screen and (max-width: 850px) {
	.post-php .wrap,
	.post-new-php .wrap,
	.comment-php .wrap {
		margin: 0 60px 0 0;
	}
}
@media screen and (max-width: 782px) {
	.post-php .wrap,
	.post-new-php .wrap,
	.comment-php .wrap {
		margin: 0 20px 0 0;
	}
}


/* *********************** */
/* Admin Bar */
/* *********************** */
#wpadminbar {
	background: #444343;
	color: #ccc;
	height: 61px;
	left: 200px;
	padding: 0 10px;
	right: 0;
	width: auto;
	z-index: 9998;
}
@media screen and (max-width: 782px) {
	#wpadminbar {
		padding: 0;
	}
}
.folded #wpadminbar {
	left: 36px;
}
@media only screen and (max-width: 960px) {
	#wpcontent #wpadminbar {
		left: 200px;
	}
	.auto-fold #wpcontent #wpadminbar {
		left: 36px;
	}
}
#wpcontent #wp-admin-bar-root-default > li > a,
#wpcontent #wp-admin-bar-top-secondary > li > a,
#wpcontent #wpadminbar #wp-admin-bar-wp-logo>.ab-item {
	padding: 14px 10px  15px 10px;
}
@media screen and (max-width: 782px) {
	#wpcontent #wp-admin-bar-root-default > li > a,
	#wpcontent #wp-admin-bar-top-secondary > li > a,
	#wpcontent #wpadminbar #wp-admin-bar-wp-logo>.ab-item {
		padding: 0;
	}
}
#wpcontent #wp-admin-bar-site-name > a.ab-item,
#wpcontent #wp-admin-bar-new-content .ab-label {
	text-indent: -999em;
}
.wp-admin #wpcontent #wpadminbar #wp-admin-bar-site-name > .ab-item:before,
#wpcontent #wpadminbar>#wp-toolbar #wp-admin-bar-new-content .ab-icon {
	text-indent: 0;
	margin-right: 0;
}
.wp-admin #wpcontent #wpadminbar #wp-admin-bar-site-name > .ab-item {
	width: 20px;
}
@media screen and (max-width: 782px) {
	.wp-admin #wpcontent #wpadminbar #wp-admin-bar-site-name > .ab-item {
		width: 52px;
	}
}

/* *********************** */
/* Notices */
/* *********************** */
.media-upload-form div.error, 
.wrap div.error, 
.wrap div.updated {
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 42px 0 12px 0;
}
div.error,
div.updated {
	background: #ebf7e3;
}

/* *********************** */
/* Admin Menu */
/* *********************** */

#adminmenuback, 
#adminmenuwrap {
	background: #302d2d;
	background-image: -moz-linear-gradient(right, #232121 0%, #302d2d 5%, #302d2d 100%);
	background-image: -o-linear-gradient(right, #232121 0%, #302d2d 5%, #302d2d 100%);
	background-image: -webkit-linear-gradient(right, #232121 0%, #302d2d 5%, #302d2d 100%);
	background-image: linear-gradient(to left, #232121 0%, #302d2d 5%, #302d2d 100%);
	width: 200px;
}
@media only screen and (max-width: 960px) {
	#adminmenuback, 
	#adminmenuwrap {
		background: #302d2d;
		background-image: -moz-linear-gradient(right, #232121 0%, #302d2d 30%, #302d2d 100%);
		background-image: -o-linear-gradient(right, #232121 0%, #302d2d 30%, #302d2d 100%);
		background-image: -webkit-linear-gradient(right, #232121 0%, #302d2d 30%, #302d2d 100%);
		background-image: linear-gradient(to left, #232121 0%, #302d2d 30%, #302d2d 100%);
	}
}
#adminmenu {
	background: #302d2d;
	background-image: -moz-linear-gradient(right, #232121 0%, #302d2d 5%, #302d2d 100%);
	background-image: -o-linear-gradient(right, #232121 0%, #302d2d 5%, #302d2d 100%);
	background-image: -webkit-linear-gradient(right, #232121 0%, #302d2d 5%, #302d2d 100%);
	background-image: linear-gradient(to left, #232121 0%, #302d2d 5%, #302d2d 100%);
	margin: 12px 0;
	width: 200px;
}
@media only screen and (max-width: 960px) {
	#adminmenu {
		background: #302d2d;
		background-image: -moz-linear-gradient(right, #232121 0%, #302d2d 30%, #302d2d 100%);
		background-image: -o-linear-gradient(right, #232121 0%, #302d2d 30%, #302d2d 100%);
		background-image: -webkit-linear-gradient(right, #232121 0%, #302d2d 30%, #302d2d 100%);
		background-image: linear-gradient(to left, #232121 0%, #302d2d 30%, #302d2d 100%);
	}
}
@media screen and (max-width: 782px) {
	#adminmenu {
		padding-top: 46px;
	}
}
#adminmenu .wp-submenu {
	background: #2ea2cc;
	border-radius: 0 2px 2px 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0 0 12px 0;
	width: 200px;
	z-index: 9999;
}
#adminmenu .opensub .wp-submenu {
	padding: 8px 0;
}
#adminmenu .wp-submenu a {
	font-size: 14px;
}
#adminmenu .wp-submenu a:hover {
	color: #fff;
}
#adminmenu .opensub .wp-submenu a {
	color: #fff;
}
#adminmenu .opensub .wp-submenu a:hover {
	color: #b9ecff;
}
.folded #adminmenu .wp-has-current-submenu a:hover,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
	color: #ffd8d3;
}
#adminmenu .wp-has-current-submenu a {
	color: #bbb;
}
#adminmenu a {
	color: #888;
}
#adminmenu .opensub .wp-submenu li.current a, #adminmenu .wp-submenu li.current, #adminmenu .wp-submenu li.current a, #adminmenu .wp-submenu li.current a:focus, #adminmenu .wp-submenu li.current a:hover, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu li.current a {
	color: #fff;
}
#adminmenu .current div.wp-menu-image:before, 
#adminmenu .wp-has-current-submenu div.wp-menu-image:before, 
#adminmenu a.current:hover div.wp-menu-image:before, 
#adminmenu a.wp-has-current-submenu:hover div.wp-menu-image:before, 
#adminmenu li.wp-has-current-submenu:hover div.wp-menu-image:before {
	color: #ea5340;
}
.folded #adminmenu .current div.wp-menu-image:before, 
.folded #adminmenu .wp-has-current-submenu div.wp-menu-image:before, 
.folded #adminmenu a.current:hover div.wp-menu-image:before, 
.folded #adminmenu a.wp-has-current-submenu:hover div.wp-menu-image:before, 
.folded #adminmenu li.wp-has-current-submenu:hover div.wp-menu-image:before {
	color: #fff;
}
@media only screen and (max-width: 960px) {
	.auto-fold #adminmenu .current div.wp-menu-image:before, 
	.auto-fold #adminmenu .wp-has-current-submenu div.wp-menu-image:before, 
	.auto-fold #adminmenu a.current:hover div.wp-menu-image:before, 
	.auto-fold #adminmenu a.wp-has-current-submenu:hover div.wp-menu-image:before, 
	.auto-fold #adminmenu li.wp-has-current-submenu:hover div.wp-menu-image:before {
		color: #fff;
	}
}
#adminmenu .wp-has-current-submenu.opensub .wp-submenu .wp-submenu-head,
#adminmenu .wp-submenu .wp-submenu-head,
.folded #adminmenu .wp-submenu .wp-submenu-head,
.folded #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head {
	font-weight: 600;
}
.folded #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, 
.folded #adminmenu .wp-menu-arrow, 
.folded #adminmenu .wp-menu-arrow div, 
.folded #adminmenu li.current a.menu-top, 
.folded #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, 
.folded #adminmenu li.current.menu-top, 
.folded #adminmenu li.wp-has-current-submenu {
	background: #ea5340;
	color: #fff;
}
@media only screen and (max-width: 960px) {
	#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, 
	#adminmenu .wp-menu-arrow, 
	#adminmenu .wp-menu-arrow div, 
	#adminmenu li.current a.menu-top, 
	#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, 
	.folded #adminmenu li.current.menu-top, 
	.folded #adminmenu li.wp-has-current-submenu {
		background: #ea5340;
		color: #fff;
	}
}

.folded #adminmenu .wp-has-current-submenu .wp-submenu, 
.folded #adminmenu a.wp-has-current-submenu:focus+.wp-submenu {
	background-color: #ea5340;
}

#adminmenu li.menu-top:hover, 
#adminmenu li.menu-top:hover a, 
#adminmenu li.opensub>a.menu-top, 
#adminmenu li>a.menu-top:focus {
	background: none;
}
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {
	background: none;
	color: #ea5340;
	font-weight: bold;
}
.folded #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {
	background: #ea5340;
}
@media only screen and (max-width: 960px) {
	.auto-fold #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {
		background: #ea5340;
	}
}
#adminmenu .wp-has-current-submenu .wp-submenu {
	background: none;
}
@media only screen and (max-width: 960px) {
	#adminmenu .wp-has-current-submenu.opensub .wp-submenu {
		background: #ea5340;
	}
}
#adminmenu div.wp-menu-image {
	float: right;
	margin: 0 11px;
}
.folded #adminmenu div.wp-menu-image {
	float: none;
	margin: 0;
}
@media only screen and (max-width: 960px) {
	.auto-fold #adminmenu div.wp-menu-image {
		float: none;
		margin: 0;
	}
}
#adminmenu div.wp-menu-name {
	font-size: 16px;
	padding: 8px 20px;
}
@media screen and (max-width: 782px) {
	#adminmenu div.wp-menu-name {
		color: #fff;
		padding: 8px 0;
	}
}
#adminmenu .wp-has-current-submenu ul>li>a, 
.folded #adminmenu li.menu-top .wp-submenu>li>a {
	font-size: 14px;
	padding: 4px 20px;
}
@media only screen and (max-width: 960px) {
	#adminmenu li.menu-top .wp-submenu>li>a {
		font-size: 14px;
		padding: 4px 20px;
	}
}
#adminmenu .wp-submenu {
	left: 200px;
}
#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
	border-right-color: #2ea2cc;
}
ul#adminmenu a.wp-has-current-submenu:after, 
ul#adminmenu>li.current>a.current:after {
	border-right-color: #fff;
}
#adminmenu li.wp-menu-separator {
	border-top: 1px solid #222;
	height: 1px;
	margin: 14px auto 15px auto;
}
#adminmenu #collapse-menu {
	border-top: 1px solid #222;
	margin: 14px auto 15px auto;
	padding: 12px 20px 12px 9px;
	transition-property: color;
}
.folded #adminmenu #collapse-menu {
	padding: 12px 20px 12px 0;
}
@media only screen and (max-width: 960px) {
	#adminmenu #collapse-menu {
		padding: 12px 20px 12px 0;
	}
}

/* *********************** */
/* Main Content */
/* *********************** */
#poststuff {
	padding-top: 0;
}
#post-body-content {
	margin-bottom: 60px;
}
#post-body-content > h2 {
	border-bottom: 1px solid #eeecec;
	color: #666;
	font-size: 15px;
	font-weight: 400;
	margin: 40px 0 0 0;
	padding: 0 0 4px 0;
}
.comment-php #post-body-content > h2 {
	border: 0 none;
	color: #222;
	font-size: 23px;
	line-height: 29px;
	padding: 9px 15px 4px 0;
}
.wrap .add-new-h2, 
.wrap .add-new-h2:active {
	background: #eaeaea;
	padding: 2px 6px;
	top: -1px;
}
#titlediv #title-prompt-text {
	color: #999;
	font-size: 3.5em;
	line-height: 1;
	padding: 12px 0;
}
#titlediv #title,
#edit-slug-box {
	border: 0 none;
	box-shadow: none;
	padding: 0;
}
#titlediv #title {
	font-size: 3.5em;
}
#titlediv #title:focus {
	background: #eaeaea;
	padding: 0 10px;
}

/* *********************** */
/* Meta Links */
/* *********************** */
#screen-meta {
	margin: 0 0 -1px 0;
}
#screen-meta-links {
	margin: 0 60px 0 0;
}
.post-php #screen-meta-links,
.post-new-php #screen-meta-links,
.comment-php #screen-meta-links {
	margin: 0 0 0 0;
}
#contextual-help-link-wrap, 
#screen-options-link-wrap {
	background: #eeecec;
	-webkit-box-shadow: none;
	border: 0 none;
	border-radius: 0 0 2px 2px;
	box-shadow: none;
	height: 28px;
	margin: 0 0 0 6px;
	padding: 3px 0;
}
#contextual-help-wrap, 
#screen-options-wrap {
	margin: 0;
	position: relative;
}
.comment-php #poststuff h3 {
	padding: 15px 0 0 0;
}
.form-table.editcomment td {
	padding: 15px 10px 15px 0;
}

/* *********************** */
/* Editor */
/* *********************** */
#wp-content-editor-tools {
	background: #fff;
	border-bottom: 1px solid #dad9d9 !important;
}
.wp-editor-container {
	border-color: #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.wp-switch-editor {
	border: 0 none !important;
}
#wp-content-media-buttons {
	padding-bottom: 6px;
}
.wp-switch-editor {
	padding: 7px 8px !important;
}
div.mce-toolbar-grp {
	background: #fff !important;
	border-bottom: 0 none !important;
}
div.mce-toolbar-grp > .mce-container-body {
	padding: 4px 0 8px 0;
}
.mce-toolbar .mce-btn-group .mce-btn.mce-first {
	margin-left: 0 !important;
}
.wp-switch-editor {
	background: #f3f3f3 !important;
	border-radius: 2px 2px 0 0;
}
.html-active .switch-html,
.tmce-active .switch-tmce {
	background: #dad9d9 !important;
}


/* *********************** */
/* Sidebar */
/* *********************** */

#poststuff #post-body.columns-2 {
	margin-right: 359px;
}
#post-body.columns-2 #postbox-container-1 {
	margin-right: -359px;
	width: 299px;
	/*When set to 300px, it stops changing to fixed on scroll. No idea why.*/
}
#poststuff h3 {
	color: #333;
	font-size: 16px;
	font-weight: 400;
}
@media only screen and (max-width: 850px) {
	#poststuff h3 {
		padding: 8px 0;
	}
}
#side-sortablesback,
.comment-php #submitdiv-back {
	background: #eeecec;
	background-image: -moz-linear-gradient(left, #dad9d9 0%, #eeecec 5%, #eeecec 100%);
	background-image: -o-linear-gradient(left, #dad9d9 0%, #eeecec 5%, #eeecec 100%);
	background-image: -webkit-linear-gradient(left, #dad9d9 0%, #eeecec 5%, #eeecec 100%);
	background-image: linear-gradient(to right, #dad9d9 0%, #eeecec 5%, #eeecec 100%);
	bottom: 0;
	position: absolute;
	top: 0;
	width: 299px;
	z-index: -1;
}
@media only screen and (max-width: 850px) {
	#side-sortablesback,
	.comment-php #submitdiv-back {
		background: none;
		display: none;
	}
}
#poststuff #post-body.columns-2 #side-sortables,
.comment-php #submitdiv {
	background: #eeecec;
	background-image: -moz-linear-gradient(left, #dad9d9 0%, #eeecec 5%, #eeecec 100%);
	background-image: -o-linear-gradient(left, #dad9d9 0%, #eeecec 5%, #eeecec 100%);
	background-image: -webkit-linear-gradient(left, #dad9d9 0%, #eeecec 5%, #eeecec 100%);
	background-image: linear-gradient(to right, #dad9d9 0%, #eeecec 5%, #eeecec 100%);
	border: 0 none;
	color: #555;
	padding: 20px 0 0 0;
	width: 299px;
}
@media only screen and (max-width: 850px) {
	#poststuff #post-body.columns-2 #side-sortables,
	.comment-php #submitdiv {
		background: none;
		padding: 0;
		width: auto;
	}
}
.comment-php #submitdiv {
	padding: 20px;
	width: 259px;
}
.postbox {
	background: none;
	border: 0 none;
	border-bottom: 1px solid #dad9d9;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0 20px 20px 20px;
}
@media only screen and (max-width: 850px) {
	.postbox {
		background: #eeecec;
		border: 0 none;
		border-radius: 2px;
		padding: 5px 20px 10px 20px;
	}
}
#side-sortables .postbox:last-child {
	border: 0 none;
	padding: 0 20px 0 20px;
}
@media only screen and (max-width: 850px) {
	#poststuff .inside {
		padding: 0 0 12px 0;
	}
}
.postbox .handlediv {
	width: 23px;
}
.stuffbox {
	border: 0 none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.postbox .hndle,
.stuffbox .hndle {
	border: 0 none;
}
.post-format-icon:before, 
.post-state-format:before {
	color: #ccc;
}

.wp-core-ui .button, 
.wp-core-ui .button-secondary {
	background: #eeecec;
	border-color: #eeecec;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #555;
	vertical-align: top;
}
.wp-core-ui .button-primary.focus, 
.wp-core-ui .button-primary.hover, 
.wp-core-ui .button-primary:focus, 
.wp-core-ui .button-primary:hover {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.wp-core-ui .postbox .button, 
.wp-core-ui .postbox .button-secondary,
.comment-php #minor-publishing .button {
	background: #fff;
	border-color: #fff;
}
.wp-core-ui .postbox .button:hover,
.comment-php #minor-publishing .button:hover {
	border-color: #999999;
}
.wp-core-ui .button-primary,
.wp-core-ui .postbox .button-primary {
	background: #2ea2cc;
	border-color: #2ea2cc;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
	text-decoration: none;
}
.wp-core-ui .button-primary:hover,
.wp-core-ui .postbox .button-primary:hover {
	border-color: #0074a2;
}
#major-publishing-actions {
	background: none;
	border: 0 none;
}
@media only screen and (max-width: 960px) {
	#major-publishing-actions {
		padding: 5px 0;
	}
}
#minor-publishing-actions {
	padding: 10px;
}
@media only screen and (max-width: 960px) {
	#minor-publishing-actions {
		padding: 5px 0;
	}
}
@media only screen and (max-width: 960px) {
	.misc-pub-section {
		padding: 6px 0px 8px;
	}
}


/* *********************** */
/* Under Editor */
/* *********************** */
#normal-sortables .postbox {
	background: #eeecec;
	border: 0 none;
	border-radius: 2px;
	padding: 5px 20px 10px 20px;
}
#normal-sortables h3 {
	padding: 8px 0;
}
#normal-sortables .postbox .inside, .stuffbox .inside {
	padding: 0 0 12px 0;
}
#normal-sortables .postbox .handlediv {
	width: 10px;
}


/* *********************** */
/* Posts Page */
/* *********************** */
.subsubsub {
	margin: 4px 0 12px 0;
}
.subsubsub li {
	color: #fff;
}
.tablenav {
	margin: 8px 0 12px 0;
}
.tablenav .actions {
	padding: 0 8px 0 0;
}
.wp-list-table,
table.comments {
	border-color: transparent !important;
	border-collapse: collapse !important;
	border-spacing: 0 !important;
	border: 0 none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.wp-list-table thead th,
.wp-list-table tfoot th,
table.comments thead th,
table.comments tfoot th {
	font-size: 14px;
	font-weight: 600;
}
.row-title {
	font-size: 16px !important;
	font-weight: 400;
}
.post-state {
	background: #999999;
	border-radius: 2px;
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	margin: -1px 10px 0 0;
	padding: 1px 5px;
	vertical-align: top;
}
.widefat td, 
.widefat th {
	/*color: #fff;*/
	padding: 12px 10px;
}
td.post-title strong {
	color: rgba(255,255,255,0);
	display: inline;
}
.row-actions {
	padding: 4px 0 0 0;
}
.widefat tbody th.check-column, 
.widefat tfoot th.check-column, 
.widefat thead th.check-column {
	padding: 14px 0 0 3px;
}
.wp-list-table tr th,
table.comments tr th {
	border-radius: 3px 0 0 3px;
}
.wp-list-table tr td:last-child,
table.comments tr td:last-child {
	border-radius: 0 3px 3px 0;
}
.wp-list-table tr:hover,
table.comments tr:hover {
	background: #eeecec;
}
table.comments .alt, 
table.comments .alternate, 
.wp-list-table .alt, 
.wp-list-table .alternate {
	background: #fff;
}


/* *********************** */
/* Categories and Tags Pages */
/* *********************** */
.edit-tags-php #screen-meta-links {
	margin: 0 35% 0 0;
	padding: 0 60px 0 0;
}
#col-container {
	overflow: visible;
}
.edit-tags-php .search-form {
	display: inline-block;
	padding: 20px 0;
}
.edit-tags-php p.search-box {
	float: none;
}
.edit-tags-php #col-left {
	background: #eeecec;
	background-image: -moz-linear-gradient(left, #dad9d9 0%, #eeecec 5%, #eeecec 100%);
	background-image: -o-linear-gradient(left, #dad9d9 0%, #eeecec 5%, #eeecec 100%);
	background-image: -webkit-linear-gradient(left, #dad9d9 0%, #eeecec 5%, #eeecec 100%);
	background-image: linear-gradient(to right, #dad9d9 0%, #eeecec 5%, #eeecec 100%);
	color: #555;
	float: right;
	margin: -110px 0 0 0;
}
#col-leftback {
	background: #eeecec;
	background-image: -moz-linear-gradient(left, #dad9d9 0%, #eeecec 5%, #eeecec 100%);
	background-image: -o-linear-gradient(left, #dad9d9 0%, #eeecec 5%, #eeecec 100%);
	background-image: -webkit-linear-gradient(left, #dad9d9 0%, #eeecec 5%, #eeecec 100%);
	background-image: linear-gradient(to right, #dad9d9 0%, #eeecec 5%, #eeecec 100%);
	bottom: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 35%;
	z-index: -1;
}
.edit-tags-php #col-right {
	float: left;
}
.edit-tags-php #col-left .col-wrap {
	padding: 0 30px;
}
.edit-tags-php #col-right .col-wrap {
	padding: 0 60px 0 0;
}
.edit-tags-php .widefat tfoot th.check-column, 
.edit-tags-php .widefat thead th.check-column {
	padding: 10px 0 0 3px;
}
.edit-tags-php #col-left h3 {
	font-size: 16px;
	font-weight: 400;
}
.fixed .column-posts {
	width: 76px;
}


/* *********************** */
/* Dashboard */
/* *********************** */
#welcome-panel {
	border: 0 none;
	border-bottom: 1px solid #eeecec;
	border-top: 1px solid #eeecec;
	margin: 20px 0 30px 0;
	padding: 30px 0 20px 0;
}
.welcome-panel-content {
	margin: 0;
}
.welcome-panel-content h3 {
	color: #2ea2cc;
	font-size: 20px;
	font-weight: 600;
}
.welcome-panel-content h4 {
	color: #333;
	font-size: 16px;
	font-weight: 400;
}
#postbox-container-1 {
	/*margin: 0 40px 0 0;*/
}
#wpbody-content #dashboard-widgets .postbox-container {
	margin: 0 2% 0 0;
	width: 23%;
}
#wpbody-content #dashboard-widgets #postbox-container-4 {
	margin: 0;
	width: 25%;
}
@media only screen and (max-width: 1499px) and (min-width: 800px) {
	#wpbody-content #dashboard-widgets .postbox-container {
		margin: 0 5% 0 0;
		width: 47.5%;
	}

	#wpbody-content #dashboard-widgets #postbox-container-2,
	#wpbody-content #dashboard-widgets #postbox-container-3,
	#wpbody-content #dashboard-widgets #postbox-container-4 {
		float: right;
		margin: 0;
		width: 47.5%;
	}
	#wpbody-content #dashboard-widgets #postbox-container-3 {
		float: left;
	}
}
@media only screen and (max-width: 1800px) and (min-width: 1500px) {
	#wpbody-content #dashboard-widgets .postbox-container,
	#wpbody-content #dashboard-widgets #postbox-container-4 {
		margin: 0 3.3333% 0 0;
		width: 30%;
	}
	#wpbody-content #dashboard-widgets #postbox-container-3 {
		margin: 0;
	}
}
@media only screen and (max-width: 799px) {
	#wpbody-content #dashboard-widgets .postbox-container,
	#wpbody-content #dashboard-widgets #postbox-container-4 {
		width: 100%;
	}
}
#dashboard-widgets .meta-box-sortables {
	margin: 0;
}
#dashboard-widgets-wrap {
	margin: 0;
}
#dashboard-widgets-wrap .postbox {
	margin-bottom: 40px;
}
#dashboard-widgets-wrap h3 {
	color: #333;
	font-size: 16px;
	font-weight: 400;
	padding: 12px 12px;
}
#dashboard-widgets-wrap #normal-sortables .postbox,
#dashboard-widgets-wrap #side-sortables .postbox,
#dashboard-widgets-wrap #column3-sortables .postbox, 
#dashboard-widgets-wrap #column4-sortables .postbox, 
#dashboard-widgets-wrap #column5-sortables .postbox {
	background: #eeecec;
	border: 0 none;
	border-radius: 2px;
	padding: 5px 10px 10px 10px;
}
#dashboard_right_now .main p {
	margin: 10px 0 0 0;
}
#dashboard-widgets-wrap .postbox .handlediv {
	width: 23px;
}

/* *********************** */
/* Footer */
/* *********************** */
#wpfooter {
	background: #444343;
	color: #999;
	margin-left: 200px;
}
#wpfooter a {
	color: #999;
	text-decoration: underline;
}
#wpfooter a:hover {
	color: #fff;
}